* {
	margin: 0;
	padding: 0;
	color: #666;
	font: 14px/1.5 "宋体", "Arial", "sans-serif", "Tahoma";
	font-weight: 700;
}

body {
	/*background: #999;*/
}

ul,
ol,
li {
	list-style: none;
}

img {
	border: none;
}

label {
	vertical-align: middle;
}

input:focus,
textarea:focus {
	outline: none;
}

/*     main      */
form {
	width: 840px;
	height: 400px;
	margin: 100px auto;	/*background: #999;*/
}

form div {
	overflow: hidden;
	clear: both;
}

form div label {
	float: left;
	clear: both;
	/*margin: 15px 0 0 25px;*/
}

form div label .text {
	width: 165px;
	height: 26px;
	padding: 0 2px;
	border: 1px solid #ccc;
}

/*隐藏*/
form div label b {
	font-weight: normal;
	font-size: 12px;
	color: #ccc;
	visibility: hidden;
	/*visibility: visible;*/
}

form div em {
	display: inline-block;
	font-size: 12px;
	text-align: center;
	color: #fff;
	vertical-align: center;
	font-style: normal;
	width: 53px;
	height: 15px;
	line-height: 15px;
	background: #ffd099;
}

form div .active {
	background-color: #ff6600;
}

div span {
	display: inline-block;
	width: 80px;
	text-align: right;
}

.submitBtn {
	width: 135px;
	height: 33px;
	color: #fff;
	margin: 20px 0 0 80px;
	background-color: #ff6600;
	background-size: 100%;
}

.changeImg {
	width: 22px;
	height: 22px;
	display: inline-block;
	vertical-align: middle;
	background: yellow;
}

.msg {
	line-height: 12px;
	color: #999;
	float: left;
	margin-left: 5px;
	margin-top: 3px;
	display: none;
}

.mag i {
	display: inline-block;
	vertical-align: middle;
	background: yellow;
	width: 25px;
	height: 20px;
}

.msg .ati {
	background: #ccc;
	font-size: 16px;
}

.msg .err {
	background-position: 0 -39px;
}

.mag .ok {
	background-position: 0 -99px;
}